<h1>Profile Page</h1>

<section>
	<div class="profile-info">
		<%= @user.name %><br />
		<%= @user.email %>
	</div>

	<div class="user-projects">
		<h2>Your Projects</h2>
		<ul>

			<% @projects.each do |project| %>
				<li>
					<br><img src="<%= project.url %>">
					<p><strong><%= link_to project.name, project%></strong></p>
					<%= project.date %>
				</li>
			<% end %>
		</ul>
	</div>

</section>
