<h1>Profile Page</h1>

<section>
  <div class="profile-info">
    <%= @user.name %>
    <%= @user.email %>
  </div>

  <div class="user-projects">
    <h2>Your Projects</h2>
    <% @user.projects.each do |project| %></em>
      <br><img src="<%= project.url %>"
      <br><strong><%= project.name %></strong>
      <br><%= project.date %>
    <% end %>
  </div>

</section>
