<h1>CrowdFunder! </h1>
<<<<<<< HEAD


<!-- <div id="slideshow">
<% @projects.each_with_index do |project, index| %>
  <% if index == 0 %>
    <img class="active" src="<%= project.url %>">
  <% end %>

<<<<<<< HEAD
  <img src="<%= project.url %>">
<% end %>
</div> -->


  <div id="slideshow" class="slideshow">
  <% @projects.each do |project| %>
    <div class="slide">
          <h2 class="slide__title slide__title--preview"><%= project.name %><span class="slide__goal">Goal</span></h2>
          <div class="slide__project">
            <div class="slide__inner">
              <img class="slide__img slide__img--small" src="<%= project.url %>" alt="Some image" />
              <button class="action action--open" aria-label="View details"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="slide__content">
            <div class="slide__content-scroller">
              <img class="slide__img slide__img--large" src="<%= project.url %>" alt="Some image" />
              <div class="slide__details">
                <h2 class="slide__title slide__title--main"><%= project.name %></h2>
                <p class="slide__description"><%= project.description %></p>
                <div>
                  <span class="slide__price slide__price--large">Goal</span>
                  <button class="button button--buy">Pledge Now!</button>
                </div>
              </div><!-- /slide__details -->
            </div><!-- slide__content-scroller -->
          </div><!-- slide__content -->
        </div>
        <button class="action action--close" aria-label="Close"><i class="fa fa-close"></i></button>
      </div>
  </div>
  <% end %>
</div>
=======
<body>
  <h1>CrowdFunder!</h1>
  <ul>
   <% @projects.reverse.each do |project| %>
     <li>
      <p> <%= link_to project.name, project%></p>
      <p><%= project.date %></p>
      <img src="<%= project.url %>">

      <p></p>
     </li>
   <% end %>
  </ul>
</html>
>>>>>>> 8f2f7c1b303bff6ee07faf04825d2a292ae7e756
=======
<ul>
	<% @projects.each do |project| %>
	<li>
		<p> <%= project.name %>, <%= project.date %></p>
		<img src="<%= project.url %>">
	</li>
	<% end %>
</ul>
>>>>>>> parent of 7cba3bb... added simple slideshow
