

<div id="slideshow">
<% @projects.each_with_index do |project, index| %>
	<% if index == 0 %>
		<div class="active" >
				<%= link_to image_tag(project.url, class: "slide-image"), project_path(project) %>
		</div>
	<% end %>

	<div class="img-container">
		<%= link_to image_tag(project.url, class: "slide-image"), project_path(project) %>
	</div>
<% end %>
</div>

<ul>
 <% @projects.reverse.each do |project| %>
	<div class="proj-container">
		 <li >
				<p> <%= link_to project.name, project%></p>
				<p><%= project.date %></p>
				<img src="<%= project.url %>">
		 </li>
 </div>
 <% end %>
</ul>
