
<h1>Tell us about your project</h1>

<% if current_user %>
  <%= form_for (@project) do |f|%>
    <% if @project.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <%end%>
        </ul>
      </div>
    <% end %>


      <div class="field">
        <%= f.label :name, 'Project Name' %><br/>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description, 'Description' %><br/>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.label :goal, 'How much do you need?' %><br/>
        <%= f.number_field :goal %>
      </div>

      <div class="field">
        <%= f.label :date, 'Last date to pledge' %><br/>
        <%= f.date_field :date %>
      </div>

      <div class="field">
        <%= f.label :url, 'Photo URL' %><br/>
        <%= f.text_field :url %>
      </div>

      <div class="field" id="reward-form">
        <h2>Rewards</h2>

        <%= f.fields_for :rewards, @reward do |rewards_fields|%><br/>
          <div class="field">
            <%= rewards_fields.label :name, 'Name of Reward' %><br/>
            <%= rewards_fields.text_field :name %>
          </div>

          <div class="field">
            <%= rewards_fields.label :description, 'Description' %><br/>
            <%= rewards_fields.text_area :description %>
          </div>

          <div class="field">
            <%= rewards_fields.label :amountThreshold, "Pledge amount required to receive reward" %><br/>
            <%= rewards_fields.number_field :amountThreshold %>
          </div>
        <% end %>
      </div>

      <div class="actions"><%= f.submit %></div>
  <% end %>

<% else %>
  <h1> please log in or sign up</h1>
<% end %>
