<h1><%="#{@project.name} Project Show Page" %></h1>

<%= link_to "Back to Projects", root_path %>

<img src="<%= @project.url %>">
<p> <%= @project.name %></p>
<p> Description: <%= @project.description %></p>
<p> Goal: $<%= @project.goal %></p>
<p> Deadline: <%= @project.date.strftime("%b #{@project.date.day.ordinalize}, %Y %-l:%M %p") %></p>
<p> Created At: <%= @project.created_at.strftime("%b #{@project.created_at.day.ordinalize}, %Y %-l:%M %p") %></p>
<p> Created by: <%= @project.user.name %></p><br />

<% total = [] %>
<% @project.pledges.all.each do |pledge| %>
  <% total << pledge.amount %>
<% end %>
<% total.inject(:+) %>

<p>$<%= total.inject(:+) %> out of $<%= @project.goal %> raised!!</p>

<h2>Rewards:</h2>

<ul>

  <% @rewards.each do |reward| %>
  <li>
    <p> <%= reward.name %></p>
    <p> Description: <%= reward.description %></p>
    <p> Pledge Amount: <%= reward.amountThreshold %></p>
    <p> *** reward.project_id: <%= reward.project_id %></p>
  </li>
  <% end %>

  <%= form_for([@project, @pledge]) do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.submit %>
   <% end %>
</ul>
